@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: local('Teko Bold'), local('Teko-Bold'), url(vZNHrtAXYeQN4tfAPqsxxw.woff2) format('woff2'), url(NqjKa14fIH8uRdC7PCZ-0Q.woff) format('woff');
}